@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


.titulo-gestion {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: extra bold;
  font-size: 80px;
  text-align: center;
  margin-bottom: 15px;
}

.titulo-inicio {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}